# Игнорируем .env
.env

# Python
__pycache__/
*.pyc
*.pyo

# SQLite DB
*.sqlite3

# Логи
*.log

# IDE
.vscode/
.idea/

# Исключаем Mistral-7B
Mistral-7B/

# Исключаем временные файлы
temp_files/

# Виртуальные окружения
.venv/
ner_model/.venv/
